 <!-- It is used to print the full blog when the "Read More" link is clicked which is on the home.ejs -->

<%- include("partials/header"); -%>
    <h1><%= postTitle %></h1>
    <p><%= postBody %></p>
<%- include("partials/footer"); -%>